@using Persistence
@using Persistence.Contexts
@inherits LayoutComponentBase
@inject ApplicationDbContext db
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject SignInManager<IdentityUser> SignInManager

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            @if (!SignInManager.IsSignedIn(User))
            {
                <NavLink class="nav-link" href="/identity/account/login">
                    Login
                </NavLink>
            }
            else
            {
                <NavLink class="nav-link" href="/identity/account/logout">
                    Logout
                </NavLink>
            }
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code {
    private ClaimsPrincipal User;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        User = authState.User;
    }
}
