@using Microsoft.AspNetCore.Hosting
@using Microsoft.AspNetCore.Mvc.ViewEngines
@inject IWebHostEnvironment Environment
@inject ICompositeViewEngine Engine
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - StaffHub</title>
    <link rel="stylesheet" href="~/styles/login.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
</head>
<body>
    <nav>
        <svg width="138" height="21" viewBox="0 0 138 21" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M98.2549 19.0228L93.6077 12.3121L98.2206 5.97813C98.586 5.49543 98.4033 5.00096 97.7867 5.00096H95.3661C95.2035 4.99434 95.0417 5.02835 94.8946 5.1001C94.7475 5.17184 94.6193 5.2792 94.5211 5.41302L91.5182 9.72201H91.4839L88.5609 5.41302C88.4559 5.27806 88.3217 5.17045 88.1689 5.09887C88.0162 5.02729 87.8493 4.99375 87.6817 5.00096H85.2953C84.7472 5.00096 84.4846 5.53075 84.8614 6.01345L89.4743 12.3474L84.713 19.0111C84.3818 19.4938 84.5303 19.9882 85.1469 19.9882H87.6018C87.7146 19.9911 87.8265 19.9659 87.9279 19.9146C88.0293 19.8634 88.1172 19.7877 88.1841 19.6939L91.4839 14.9022H91.5182L94.7381 19.5526C94.8245 19.682 94.9383 19.7894 95.0708 19.8669C95.2033 19.9444 95.3511 19.9899 95.5031 20H97.8096C98.4033 20 98.586 19.5055 98.2549 19.0228Z"
                  fill="black" />
            <path d="M76.9407 19.9998C75.9039 20.0078 74.8766 19.8056 73.9228 19.4057C73.0435 19.0323 72.2532 18.4822 71.6028 17.7908C70.3031 16.4136 69.5874 14.5349 69.5874 12.5C69.5842 11.5192 69.7621 10.5459 70.1127 9.62771C70.4477 8.7451 70.952 7.93401 71.5983 7.23856C72.245 6.54273 73.0315 5.98654 73.9082 5.60521C74.8534 5.19913 75.875 4.993 76.9065 5.00018C78.7777 5.00018 80.4926 5.67707 81.7351 6.90612C82.3358 7.50026 82.8087 8.20715 83.1258 8.98473C83.4631 9.8169 83.6311 10.706 83.6202 11.6018C83.6145 11.9246 83.5916 12.2469 83.5517 12.5673C83.5385 12.7316 83.4632 12.8849 83.3406 12.9972C83.218 13.1094 83.057 13.1724 82.8895 13.1736H72.933C73.0422 15.0094 74.6841 16.9909 77.1463 16.9909C78.5507 16.9909 79.7881 16.3436 80.4004 15.958L80.417 15.9488C80.6585 15.8147 80.8493 15.709 81.0178 15.709C81.0932 15.7135 81.1665 15.7354 81.2318 15.7728C81.2971 15.8102 81.3525 15.8621 81.3938 15.9243L82.4214 17.2828C82.5887 17.4687 82.6584 17.617 82.6474 17.7638C82.636 17.9123 82.54 18.0598 82.3529 18.2146C81.7022 18.7437 80.9635 19.1581 80.1692 19.4398C79.1359 19.8151 78.0423 20.0048 76.9407 19.9998ZM76.8722 7.75086C74.9325 7.75086 73.3623 9.0869 73.1385 10.9282H80.2406C80.1241 9.17671 78.613 7.75086 76.8722 7.75086Z"
                  fill="black" />
            <path d="M66.7955 16.3742C66.6444 16.0372 66.4236 15.8164 65.9355 16.0372C65.4939 16.258 64.448 16.6996 63.6578 16.6996C62.9489 16.6996 62.4608 16.4788 62.4608 15.2237V7.90238H66.2609C66.4469 7.90241 66.6255 7.82932 66.7581 7.69888C66.8907 7.56844 66.9668 7.3911 66.9698 7.20511V5.54329C66.9724 5.4495 66.9558 5.35617 66.9211 5.26901C66.8863 5.18184 66.8342 5.10267 66.7679 5.03632C66.7015 4.96998 66.6224 4.91786 66.5352 4.88314C66.448 4.84842 66.3547 4.83184 66.2609 4.8344H62.4608V0.697269C62.4615 0.516107 62.3915 0.341819 62.2656 0.211564C62.1397 0.0813093 61.9679 0.00539277 61.7868 0L59.6601 0.0348635C59.476 0.0408839 59.3009 0.115937 59.1695 0.245115C59.0382 0.374292 58.9603 0.548142 58.9512 0.732132V4.8344H57.3824C57.2883 4.83084 57.1945 4.84675 57.1069 4.88111C57.0193 4.91548 56.9397 4.96757 56.8732 5.03412C56.8066 5.10067 56.7545 5.18024 56.7202 5.26786C56.6858 5.35547 56.6699 5.44924 56.6735 5.54329V7.20511C56.6741 7.29749 56.6929 7.38885 56.7289 7.47393C56.7648 7.55902 56.8173 7.63617 56.8831 7.70095C56.949 7.76573 57.027 7.81687 57.1127 7.85144C57.1983 7.88601 57.29 7.90332 57.3824 7.90238H58.9512V15.5956C58.9512 18.222 59.8112 20 62.7513 20C64.541 20 66.7374 19.1168 67.1093 18.896C67.4811 18.7101 67.6322 18.4195 67.4463 18.0128L66.7955 16.3742Z"
                  fill="black" />
            <path d="M46.7989 20C45.8216 20.0013 44.855 19.7971 43.9617 19.4007C43.0921 19.0149 42.3066 18.4623 41.6497 17.7741C40.2825 16.3456 39.5206 14.4437 39.5234 12.4663C39.5257 10.5074 40.2879 8.62572 41.6496 7.21746C42.3076 6.53245 43.0929 5.98242 43.9616 5.59823C44.8554 5.20349 45.8219 4.99973 46.799 5C47.7761 5.00027 48.7424 5.20456 49.6361 5.5998C50.5048 5.98499 51.2901 6.53588 51.948 7.22161C52.6122 7.90887 53.1402 8.71562 53.5043 9.59927C53.8812 10.5081 54.0749 11.4824 54.0743 12.4663C54.0772 14.4437 53.3153 16.3455 51.9482 17.774C51.2913 18.4622 50.5058 19.0148 49.6362 19.4006C48.7429 19.7971 47.7762 20.0013 46.7989 20ZM46.7989 8.11005C44.5578 8.11005 42.7345 10.0643 42.7345 12.4663C42.7345 14.9303 44.5578 16.9349 46.7989 16.9349C49.04 16.9349 50.8632 14.9303 50.8632 12.4663C50.8632 10.0643 49.04 8.11005 46.7989 8.11005Z"
                  fill="black" />
            <path d="M32.1548 10.8832C30.7513 10.2769 29.8531 9.88398 29.8531 8.9521C29.8531 8.41317 30.2461 7.88548 31.4699 7.88548C32.8397 7.88548 34.4228 8.63772 34.4228 8.63772C34.5863 8.70819 34.7694 8.71867 34.9399 8.66732C35.1104 8.61597 35.2572 8.50609 35.3546 8.35704L36.0058 7.14446C36.2192 6.78518 36.0395 6.32485 35.7139 6.11153C34.9954 5.6512 33.4796 5 31.4699 5C28.0118 5 26.541 7.14446 26.541 8.92964C26.541 11.2874 28.416 12.646 30.6503 13.6115C32.6263 14.5097 33.4235 14.9701 33.4235 15.9356C33.4235 16.7216 32.7386 17.1482 31.6608 17.1482C29.8981 17.1482 28.315 16.2163 28.315 16.2163C27.9557 16.003 27.5627 16.104 27.4168 16.396L26.6645 17.7882C26.6052 17.9185 26.594 18.0657 26.6331 18.2035C26.6722 18.3412 26.7589 18.4606 26.8778 18.5404C27.6301 19.1467 29.2132 20 31.6271 20C34.8269 20 36.9489 18.0352 36.9489 15.8234C36.9377 13.14 34.782 12.0284 32.1548 10.8832Z"
                  fill="black" />
            <path d="M0.541016 5.56589V14.6863L10.541 10.1205L17.8514 13.4514V14.9696L10.541 11.6386L0.541016 16.2045V20L10.541 15.4454L20.541 20V10.8795L10.541 6.32499L3.23067 9.65593V8.13775L10.541 4.8068L20.541 9.36136V5.56589L10.541 1L0.541016 5.56589Z"
                  fill="#EF4F27" />
            <path d="M134.587 12.234C135.423 12.3901 136.111 12.8085 136.65 13.4894C137.189 14.1702 137.459 14.9504 137.459 15.8298C137.459 16.6241 137.26 17.3262 136.863 17.9362C136.48 18.5319 135.92 19 135.182 19.3404C134.445 19.6809 133.572 19.8511 132.565 19.8511H126.161L126.161 5H129.225H132.289C133.296 5 134.161 5.16312 134.884 5.48936C135.622 5.8156 136.175 6.2695 136.544 6.85106C136.927 7.43262 137.118 8.0922 137.118 8.82979C137.118 9.69503 136.884 10.4184 136.416 11C135.962 11.5816 135.352 11.9929 134.587 12.234ZM129.14 11.1277H131.863C132.572 11.1277 133.118 10.9716 133.501 10.6596C133.884 10.3333 134.076 9.87234 134.076 9.2766C134.076 8.68085 133.884 8.21986 133.501 7.89362C133.118 7.56738 132.572 7.40425 131.863 7.40425H129.14V11.1277ZM132.14 17.4255C132.863 17.4255 133.423 17.2553 133.821 16.9149C134.232 16.5745 134.438 16.0922 134.438 15.4681C134.438 14.8298 134.225 14.3333 133.799 13.9787C133.374 13.6099 132.799 13.4255 132.076 13.4255H129.14V17.4255H132.14Z"
                  fill="#9D9D9D" />
            <path d="M115.728 8.5V14.2315C115.728 15.2386 115.991 16.0117 116.515 16.5507C117.04 17.0755 117.778 17.3379 118.728 17.3379C119.693 17.3379 120.437 17.0755 120.962 16.5507C121.487 16.0117 121.749 15.2386 121.749 14.2315V10H124.749V14.2103C124.749 15.4727 124.473 16.5436 123.92 17.423C123.381 18.2883 122.65 18.9408 121.728 19.3805C120.82 19.8202 119.806 20.04 118.686 20.04C117.579 20.04 116.572 19.8202 115.664 19.3805C114.771 18.9408 114.061 18.2883 113.537 17.423C113.012 16.5436 112.749 15.4727 112.749 14.2103L112.749 8.5L115.728 8.5Z"
                  fill="#9D9D9D" />
            <path d="M111.86 5.04004V19.8911H108.881V13.572H102.52V19.8911L99.541 19.8911V9L102.52 5.04004V11.1464H108.881V5.04004H111.86Z"
                  fill="#9D9D9D" />
        </svg>
    </nav>

    <div class="container">
        @RenderBody()
    </div>

    <div class="ib16">
        © @DateTime.Now.Year SotexSolutions. All rights reserved.
    </div>
    
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
